@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /*плавная прокрутка*/
}

/* Links */
a, a:hover, a:link, a:visited {
  text-decoration: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

ol,
ul,
li {
  list-style: none;
}

ul, ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  /*display: inline-block;*/
  display: button;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  text-transform: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

small {
  font-size: 0.875em;
}

/* 
смотреть инструкцию в файле
scss/functions/_rem.scss
*/
/* 
смотреть инструкцию в файле
scss/functions/_adaptiveValues.scss
*/
/*
@mixin media-breakpoint-min-xl{
	@media (min-width: 1200px){
		@content;
	}
}$maxWidthContainer
*/
html,
body {
  height: 100%;
}

body {
  font-family: "Arodora Pro";
  line-height: 1.5;
  font-size: 1.125rem;
  color: #E4E4E4;
  background: linear-gradient(135deg, rgb(44, 44, 44) 0%, rgb(32, 32, 32) 100%, rgb(28, 28, 28) 100%);
}

/*оболочка*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*прижать footer вниз*/
.wrapper > main {
  flex: 1 1 auto;
}

/*ограничивающий контейнер*/
/*
Стили будут применяться ко всем классам содержащим *__container
Например headere__container, main__container и т.д.
*/
[class*=__container] {
  margin: 0 auto;
  padding: 0 1.875rem; /* отступы безопасности */
  max-width: 75rem;
  box-sizing: content-box;
}

/* HEADER */
.header-nav {
  min-height: 5rem;
}
.header-nav__container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  z-index: 9;
}
.logo-nav__block {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
.logo-nav__block span {
  color: #fff;
  font-family: "Nico Moji";
  font-size: 1.125rem;
}

.wrapper {
  position: relative;
}

.menu-nav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(28, 28, 28);
  padding: 0 1.875rem; /*отступ безопасности*/
}
.menu-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.menu-nav__link {
  position: relative;
  font-size: 2.8125rem;
  color: #E4E4E4;
  transition: all 0.25s ease 0s;
}
.menu-nav__link::after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-image: linear-gradient(to right, #e2a300, #e29500);
  transition: all 0.3s ease 0s;
}
.menu-nav__link:hover::after {
  width: 90%;
  transform: 100%;
}

.menu-open {
  left: 0;
}

/* бургер */
.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 30px;
  height: 1.125rem;
  cursor: pointer;
  z-index: 9;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #E4E4E4;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0px;
}
.icon-menu span {
  top: calc(50% - 1px);
}
.icon-menu:hover span, .icon-menu:hover::before, .icon-menu:hover::after {
  background-color: #e29500;
}
.icon-menu.menu-open span {
  transform: scale(0);
}
.icon-menu.menu-open::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.icon-menu.menu-open::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

/* ./бургер */
/* HOME */
/*.home{
	padding-top: rem(145-80); //80 - min-height .top-header__container
	&__container{
		position: relative;
		display: flex;
		//height: 100vh;
	}
	&__info{
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1{
			font-family: 'NEXTART-bold';
			font-size: rem(72);
			//@include adaptiveValueModified('font-size', 992, 52, $maxWidthContainer, 72);
		}
		h2{
			font-family: 'NEXTART-semibold';
			//@include adaptiveValueModified('font-size', 992, 28, $maxWidthContainer, 48);
			font-size: rem(48);
		}
		&-text{
			width: rem(400);
			padding-bottom: rem(26);
		}
		&-button{
			display: block;
			width: rem(200);
			height: rem(47);
			background-color: orange;
			color: #000;
			border-radius: rem(6);
			font-family: 'NEXTART-bold';
			filter: drop-shadow(0px 2px 13px rgba(226, 158, 0, 48%));
			transition: color .25s ease-in-out 0s;
			&:hover{
				color: $colorFont;
			}
		}
	}
	&__images{
		display: flex;
		flex: 0 0 50%;
		justify-content: center;
		img{
			align-self: flex-end;
			object-fit: cover;
		}
	}
}
*/
.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
}
.home__container .home__info {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*row-gap: rem(20);*/
}
.home__container .home__info h1 {
  font-family: "NEXTART-bold";
  font-size: 2.375rem;
  padding: 1.125rem 0;
}
.home__container .home__info h2 {
  font-family: "NEXTART-semibold";
  font-size: 1.875rem;
}
.home__container .home__info-text {
  /*width: rem(250);*/
  padding-bottom: 1.625rem;
}
.home__container .home__info-button {
  display: block;
  width: 12.5rem;
  height: 2.9375rem;
  background-color: orange;
  color: #000;
  border-radius: 0.375rem;
  font-family: "NEXTART-bold";
  filter: drop-shadow(0px 2px 13px rgba(226, 158, 0, 0.48));
  transition: color 0.25s ease-in-out 0s;
}
.home__container .home__info-button:hover {
  color: #E4E4E4;
}
.home__container .home__images {
  /* display: flex;*/
  flex: 1 1 100%;
  /*justify-content: center;*/
}

/* SKILLS */
.skills {
  background-color: #3e3e3e;
  padding-top: 7.0625rem;
}

.skills-body {
  display: flex;
}
.skills-body:not(:last-child) {
  margin-bottom: 1.875rem;
}
.skills-body:last-child {
  justify-content: center;
}
.skills-body__card:not(:last-child) {
  margin-right: 1.875rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 16.875rem;
  width: 16.875rem;
  padding: 1.875rem 0;
  background-color: #2A2A2A;
  border-radius: 1.8125rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.47));
}
.card-body__text span {
  font-size: 1.5rem;
}
.card-body__ux-ui span {
  font-family: "NEXTART-bold";
  font-size: 3rem;
  color: #00C4F0;
}

.footer {
  height: 2.25rem;
}
.footer__container {
  height: 100%;
}
.footer__container span {
  font-size: 0.75rem;
  font-weight: 500;
}
.footer__copyright { /*отцентрировать copyright по середине и центру*/
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .home__info h1 {
    font-size: 3.25rem !important;
  }
  .home__info h2 {
    font-size: 2.125rem !important;
  }
}
@media (min-width: 768px) {
  .home__info h1 {
    font-size: 4.0625rem !important;
  }
  .home__info h2 {
    font-size: 2.5rem !important;
  }
  .home__info-text {
    width: 37.5rem;
  }
  .home__images {
    display: flex;
    justify-content: center;
  }
  .home__images img {
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .home__info h1 {
    font-size: 4.375rem !important;
  }
  .home__info h2 {
    font-size: 3rem !important;
  }
}
@media (min-width: 73.125rem) {
  .home__container {
    flex-direction: row;
  }
  .home__info {
    flex: 1 1 50%;
  }
  .home__images {
    flex: 1 1 50%;
  }
  .home__images img {
    max-width: 100%;
    margin-top: auto;
  }
}