@charset "UTF-8";
/* Reset */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a, a:hover, a:link, a:visited {
  text-decoration: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

ol,
ul,
li {
  list-style: none;
}

ul, ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: button;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  text-transform: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

small {
  font-size: 0.875em;
}

/* 
смотреть инструкцию в файле
scss/functions/_rem.scss
*/
/* 
смотреть инструкцию в файле
scss/functions/_adaptiveValues.scss
*/
/*
@mixin media-breakpoint-min-xl{
	@media (min-width: 1200px){
		@content;
	}
}$maxWidthContainer
*/
/*
@mixin media-breakpoint-max-xl{
	@media (max-width: 1199.98px){
		@content;
	}
}
*/
html,
body {
  height: 100%;
}

body {
  font-family: "Arodora Pro";
  line-height: 1.5;
  font-size: 1.125rem;
  color: #E4E4E4;
  background: linear-gradient(135deg, rgb(44, 44, 44) 0%, rgb(32, 32, 32) 100%, rgb(28, 28, 28) 100%);
}

/* оболочка */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* прижать footer вниз */
.wrapper > main {
  flex: 1 1 auto;
}

/*ограничивающий контейнер*/
/*
Стили будут применяться ко всем классам содержащим *__container
Например headere__container, main__container и т.д.
*/
[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem; /* отступы безопасности */
  max-width: 75rem;
}

/* HEADER */
.header-nav {
  min-height: 5rem;
}
.header-nav__container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  z-index: 9;
}
.logo-nav__block {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8125rem;
  column-gap: 0.8125rem;
}
.logo-nav__block span {
  color: #fff;
  font-family: "Nico Moji";
  font-size: 1.125rem;
}

.wrapper {
  position: relative;
}

@media (max-width: 991.98px) {
  .menu-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: rgb(28, 28, 28);
    padding: 0 1.875rem; /* отступ безопасности */
    z-index: 8;
  }
}
.menu-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
  padding: 5rem 0;
}
.menu-nav__link {
  position: relative;
  font-size: 2.8125rem;
  color: #E4E4E4;
  transition: all 0.25s ease 0s;
}
.menu-nav__link::after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background: linear-gradient(to right, #e2a300, #e29500);
  transition: all 0.3s ease 0s;
}
.menu-nav__link:hover::after {
  width: 90%;
  transform: 100%;
}

.menu-open {
  left: 0;
}

/* бургер */
.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 30px;
  height: 1.125rem;
  cursor: pointer;
  z-index: 9;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #E4E4E4;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0px;
}
.icon-menu span {
  top: calc(50% - 1px);
}
.icon-menu:hover span, .icon-menu:hover::before, .icon-menu:hover::after {
  background-color: #e29500;
}
.icon-menu.menu-open span {
  transform: scale(0);
}
.icon-menu.menu-open::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.icon-menu.menu-open::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

/* HOME */
.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.home__container .home__info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__container .home__info h1 {
  font-family: "NEXTART-bold";
  font-size: 2.375rem;
  padding: 1.125rem 0;
}
.home__container .home__info h2 {
  font-family: "NEXTART-semibold";
  font-size: 1.875rem;
}
.home__container .home__info-text {
  padding-bottom: 1.625rem;
}
.home__container .home__info-button {
  display: block;
  width: 12.5rem;
  height: 2.9375rem;
  background-color: orange;
  color: #000;
  border-radius: 0.375rem;
  font-family: "NEXTART-bold";
  filter: drop-shadow(0px 2px 13px rgba(226, 158, 0, 0.48));
  transition: color 0.25s ease-in-out 0s;
}
.home__container .home__info-button:hover {
  color: #E4E4E4;
}
.home__container .home__images {
  flex: 0 0 auto;
  width: 100%;
}

/* SKILLS */
.skills {
  background-color: #3e3e3e;
  padding-top: 7.0625rem;
  padding-bottom: 5rem;
}

.skills-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 13.75rem;
  width: 13.75rem;
  padding: 3.625rem 0 3.125rem 0;
  background-color: #2A2A2A;
  border-radius: 1.8125rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.47));
}
.card-body__text span {
  font-size: 1.5rem;
}
.card-body__ux-ui span {
  font-family: "NEXTART-bold";
  font-size: 3rem;
  color: #00C4F0;
}

/* ABOUT ME */
.about {
  background-color: #3e3e3e;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.about__container {
  position: relative;
  display: flex;
  justify-content: center;
}

.about-bg {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.about-content {
  position: relative;
  display: block;
  z-index: 3;
  background: #2c2c2c;
  border-radius: 14px;
  width: 400px;
  padding: 1.5625rem 1.5625rem;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.47));
}
.about-content__title {
  position: absolute;
  top: -0.625rem;
  font-family: "NEXTART";
  font-weight: normal !important;
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
}
.about-content__text {
  overflow: hidden;
  position: relative;
}
.about-content__text p {
  font-size: 1rem;
  letter-spacing: 0.01em;
}
.about-content__text.hide-text {
  height: 200px;
  /*высота видимого блока*/
}
.about-content__text.hide-text:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.about-content__toggle {
  color: #e29500;
  font-size: 1.125rem;
}

.about-images__photo-one {
  display: none;
}
.about-images__photo-two {
  display: none;
}
.about-images__photo-three {
  display: none;
}

/* PORTFOLIO */
.portfolio__container {
  padding-top: 6.25rem;
  padding-bottom: 9.375rem;
}

.portfolio__title {
  font-family: "NEXTART";
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
  padding-bottom: 3.125rem;
  text-align: center;
}

/* слайды */
.image-slider__slide {
  display: flex;
  row-gap: 1.25rem;
  justify-content: center;
}
.image-slider__image {
  padding: 0 0.625rem;
}
.image-slider__title {
  font-size: 1.25rem;
  text-align: left;
  padding: 1rem 0;
}
.image-slider__text {
  display: none;
}
.image-slider__text-more {
  color: #e29500;
  font-size: 1.125rem;
}

.swiper-button-prev {
  width: 3.75rem !important;
}
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  width: 3.75rem !important;
}
.swiper-button-next img {
  width: 3.75rem !important;
}
.swiper-button-next::after {
  display: none;
}

.footer {
  background-color: #3e3e3e;
  padding: 3.125rem 0;
}
.footer__address {
  flex: 0 0 auto;
  width: 100%;
}
.footer__address address :not(:last-child) {
  padding-bottom: 0.625rem;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}

.menu-footer {
  flex: 0 0 auto;
  width: 100%;
}
.menu-footer__item:not(:last-child) {
  padding-bottom: 0.625rem;
}
.menu-footer__link {
  position: relative;
  color: #E4E4E4;
  transition: all 0.25s ease 0s;
}
.menu-footer__link::after {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background: linear-gradient(to right, #e2a300, #e29500);
  transition: all 0.3s ease 0s;
}
.menu-footer__link:hover::after {
  width: 90%;
  transform: 100%;
}

.brand-footer {
  flex: 0 0 auto;
  width: 100%;
}
.brand-footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}
.brand-footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nico Moji";
  color: #fff;
}
.brand-footer__logo img {
  width: 4.0625rem;
}

/* breakpoints */
@media (min-width: 576px) {
  .home__info h1 {
    font-size: 3.25rem !important;
  }
  .home__info h2 {
    font-size: 2.125rem !important;
  }
  .about-content {
    padding: 1.875rem 1.25rem;
  }
  .about-content__title {
    font-size: 2.1875rem;
    top: -1.25rem;
  }
  .menu-footer,
  .footer__address {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .home__info h1 {
    font-size: 4.0625rem !important;
  }
  .home__info h2 {
    font-size: 2.5rem !important;
  }
  .home__images {
    display: flex;
    justify-content: center;
  }
  .home__images img {
    max-width: 80%;
  }
  .about-content {
    padding: 2.1875rem 1.25rem;
  }
  .about-content__title {
    font-size: 3rem;
    top: -30;
  }
  .about-content__text {
    font-size: 1.25rem;
  }
  .about-content__toggle {
    display: none;
  }
  .menu-footer {
    flex: 0 0 auto;
    width: 20%;
  }
  .footer__address {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .brand-footer {
    flex: 1 0 auto;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .brand-footer__logo {
    flex-direction: row;
  }
  .brand-footer__logo img {
    padding-right: 0.8125rem;
  }
  .brand-footer__block {
    justify-content: flex-start;
  }
  .brand-footer__link {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .home__container {
    flex-direction: row;
    row-gap: 0 !important;
  }
  .home__info {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .home__images {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .home__images img {
    max-width: 100%;
    margin-top: auto;
  }
  .icon-menu {
    display: none;
  }
  .menu-nav__list {
    flex-direction: row;
    row-gap: 0;
    -moz-column-gap: 145px;
    column-gap: 145px;
  }
  .menu-nav__link {
    font-size: 18px;
  }
  .home__info h1 {
    font-size: 4.375rem !important;
  }
  .home__info h2 {
    font-size: 3rem !important;
  }
  .about-content__text p {
    font-size: 18px;
  }
  .image-slider__image {
    display: flex;
    -moz-column-gap: 3.1875rem;
    column-gap: 3.1875rem;
    background: linear-gradient(45deg, #414141 0%, #2D2D2D 100%);
    border-radius: 1.8125rem;
    padding: 3.125rem;
    margin: 0 6.25rem;
  }
  .image-slider__image img {
    height: 25rem;
  }
  .image-slider__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.5rem;
  }
  .image-slider__title {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .image-slider__text {
    display: block;
    text-align: center;
    padding-bottom: 1.5625rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media (max-width: 73.125rem) {
  .card-body {
    padding: 30px 0;
  }
  .about-bg {
    display: none;
  }
}
@media (min-width: 73.125rem) {
  .card-body {
    height: 16.875rem;
    width: 16.875rem;
  }
  .about-content {
    width: 496px;
    padding: 4.0625rem 4.5625rem 4.3125rem 4.5625rem;
  }
  .about-content__title {
    position: absolute;
    top: -1.5625rem;
  }
  .about-images__photo-one, .about-images__photo-two, .about-images__photo-three {
    display: block;
    position: absolute;
    z-index: 9;
    border-width: 1.25rem;
    border-style: solid;
    border-color: #2c2c2c;
    border-radius: 0.875rem;
  }
  .about-images__photo-one {
    top: -3rem;
    left: -18.75rem;
  }
  .about-images__photo-two {
    bottom: -2.6875rem;
    left: -16.875rem;
  }
  .about-images__photo-three {
    top: 9.875rem;
    right: -18.75rem;
  }
  .image-slider__image {
    -moz-column-gap: 5.0625rem img;
         column-gap: 5.0625rem img;
    column-gap-height: 31.25rem;
  }
  .image-slider__title {
    font-size: 1.375rem;
  }
  .image-slider__text {
    font-size: 1.125rem;
  }
  .footer__container {
    padding: 0 12.5rem;
  }
}