@font-face {
    font-family: 'Nico Moji';
    src: url('NicoMoji-Regular.eot');
    src: url('NicoMoji-Regular.eot?#iefix') format('embedded-opentype'),
        url('NicoMoji-Regular.woff2') format('woff2'),
        url('NicoMoji-Regular.woff') format('woff'),
        url('NicoMoji-Regular.svg#NicoMoji-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

