@include media-breakpoint-min-sm{
	.home__info{
		h1{
			font-size: rem(52)!important;
		}
		h2{
			font-size: rem(34)!important;
		}
	}
}
@include media-breakpoint-min-md{
	.home__info{
		h1{
			font-size: rem(65)!important;
		}
		h2{
			font-size: rem(40)!important;
		}
		&-text {
			//width: rem(600);
			//padding-bottom: 1.625rem;
		}
	}
	.home__images{
		display: flex;
	    justify-content: center;
		img{
			max-width: 80%;
		}
	}
}
@include media-breakpoint-min-lg{
	.icon-menu{
		display: none;
	}
	.menu-nav__list {
		flex-direction: row;
		row-gap: 0;
		column-gap: 145px;
	}
	.menu-nav__link { 
		font-size: 18px;
	}
	.home__info{
		h1{
			font-size: rem(70)!important;
		}
		h2{
			font-size: rem(48)!important;
		}
	}
}
@include media-breakpoint-min-xl{
	.home__container {
		flex-direction: row;
		row-gap: 0!important;
	}
	.home__info{
		flex: 0 0 auto;
		width: 50%!important;
	}
	.home__images{
		flex: 0 0 auto;
		width: 50%!important;
		img{
			max-width: 100%;
			margin-top: auto;
		}
	}
	.card-body{
		height: rem(270);
		width: rem(270);
	}
}