/* HEADER */
.header{}
.header-nav{
	min-height: rem(80);
	&__container{
		height: rem(80);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{}
	&__menu{}
}
.logo-nav{
	&__block{
		display: flex;
		align-items: center;
		column-gap: rem(13);
		span{
			color: #fff;
			font-family: "Nico Moji";
			font-size: rem(18);	
		}	
	}
}
.menu-nav{
	&__list{
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(145);
		//@include adaptiveValueModified('column-gap', 992, 100, $maxWidthContainer, 145);
	}
	&__item{}
	&__link{
		position: relative;
		font-size: em(18);
		color: #E4E4E4;
		transition: all 0.25s ease 0s;
		&::after{
			position: absolute;
			content: "";
			display: inline-block;
			bottom: rem(-5);
			left: 0;
			width: 0;
			height: rem(1);
			background-image: linear-gradient(to right, #e2a300, #e29500);
			transition: all 0.3s ease 0s;
		}
		&:hover::after{
			width: 90%;
			transform: 100%;	
		}	
	}
}
.icon-menu{
	display: none;
	@media #{$large-mobile} {
		display: block;
		position: relative;
		margin-left: auto;
		//т.к. бургер это flex элемент, то надо указывать ширину так, а не через width и тогда бургер при уменьшении экрана не будет сужаться
		flex: 0 0 30px; 
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after{
			content: "";
			transition:  all .3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $colorFont;
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0px;
		}
		span{
			top: calc(50% - 1px);
		}
		&.menu-open{//из бургера делается крестик
			span{
				transform: scale(0);
			}
			&::before{
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after{
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
		&:hover{
			span,
			&::before,
			&::after{
				background-color: #e29500;
			}
		}
	}
}	