/* HOME */

.home__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 20px;

	.home__info {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		h1 {
			font-family: "NEXTART-bold";
			font-size: rem(38);
			padding: rem(18) 0;
		}

		h2 {
			font-family: "NEXTART-semibold";
			font-size: rem(30);
		}

		&-text {
			padding-bottom: 1.625rem;
		}

		&-button {
			display: block;
			width: rem(200);
			height: rem(47);
			background-color: orange;
			color: #000;
			border-radius: rem(6);
			font-family: 'NEXTART-bold';
			-webkit-filter: drop-shadow(0px 2px 13px rgba(226, 158, 0, 48%));
			filter: drop-shadow(0px 2px 13px rgba(226, 158, 0, 48%));
			-webkit-transition: color .25s ease-in-out 0s;
			-o-transition: color .25s ease-in-out 0s;
			transition: color .25s ease-in-out 0s;

			&:hover {
				color: $colorFont;
			}
		}
	}

	.home__images {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
	}
}

/* SKILLS */
.skills {
	background-color: #3e3e3e;
	padding-top: rem(113);
	padding-bottom: rem(80);
}

.skills-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.card-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: rem(220);
	width: rem(220);
	padding: rem(58) 0 rem(50) 0;
	background-color: #2A2A2A;
	border-radius: rem(29);
	-webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 47%));
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 47%));

	&__text {
		span {
			font-size: rem(24);
		}
	}

	&__ux-ui {
		span {
			font-family: 'NEXTART-bold';
			font-size: rem(48);
			color: #00C4F0;
		}
	}
}

/* ABOUT ME */
.about {
	background-color: #3e3e3e;
	padding-top: rem(80);
	padding-bottom: rem(160);
}

.about__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.about-bg {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.about-content {
	position: relative;
	display: block;
	z-index: 3;
	background: #2c2c2c;
	border-radius: 14px;
	width: 400px;
	padding: rem(25) rem(25);
	-webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.47));
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.47));

	&__title {
		position: absolute;
		top: rem(-10);
		font-family: 'NEXTART';
		font-weight: normal !important;
		font-size: rem(20);
		padding-bottom: rem(20);
	}

	&__text {
		overflow: hidden;
		position: relative;

		p {
			font-size: 1rem;
			letter-spacing: 0.01em;
		}

		&.hide-text {
			height: 200px;

			/*высота видимого блока*/
			&:after {
				content: "";
				display: block;
				height: 100%;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	&__toggle {
		color: #e29500;
		font-size: rem(18);
	}
}

.about-images {
	&__photo-one {
		display: none;
	}

	&__photo-two {
		display: none;
	}

	&__photo-three {
		display: none;
	}
}

/* PORTFOLIO */

.portfolio__container {
	padding-top: rem(100);
	padding-bottom: rem(150);
}

.portfolio__title {
	font-family: 'NEXTART';
	font-size: rem(48);
	font-weight: normal;
	color: #fff;
	padding-bottom: rem(50);
	text-align: center;
}

/* слайды */
.image-slider {
	&__slide {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		row-gap: rem(20);
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	&__image {
		padding: 0 rem(10);
	}

	&__title {
		font-size: rem(20);
		text-align: left;
		padding: rem(16) 0;
	}

	&__text {
		display: none;
	}

	&__text-more {
		color: #e29500;
		font-size: rem(18);
	}
}

.swiper-button-prev {
	width: rem(60) !important;

	&::after {
		display: none;
	}
}

.swiper-button-next {
	width: rem(60) !important;

	img {
		width: rem(60) !important;
	}

	&::after {
		display: none;
	}
}